<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,700" rel="stylesheet">
    <title>{% block title %}Movies!{% endblock %}</title>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header>
        <h1><a href="/" title="Go back home">Movies!</a></h1>
        <form method="GET" id="search_form" action="/">
            <input type="search" name="kw" value="" placeholder="Brad Pitt, Forrest Gump, etc." autocomplete="off" >
            <button type="submit">OK</button>
    
            <div id="autocomplete_results"></div>
        </form>    
    </header>

        
        {% block content %}{% endblock %}

    <footer>
        <div>&copy; Movies!</div>
        <nav>
            <a href="/chat" title="Let's chat!">Chat</a>
        </nav>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/socket.io.slim.js"></script>
    <script src="/js/ajax_autocomplete.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>