{% extends 'base.html' %}

{% block content %}
    <h1>Chat!</h1>
    <form id="username_form">
        <label for="username_input">Your username:</label>
        <input type="text" name="username" id="username_input" value="">
        <button type="submit">GO!</button>
    </form>

    <div id="messages_window"></div>

    <form id="message_form">
        <input type="text" name="message" id="message_input" value="" placeholder="Got somethin' to say ?">
    </form>

    <h3>Connected users</h3>
    <div id="user_list"></div>
{% endblock %}  